---
title: Planning engine (Java™, Open Source)
layout: base
---

.jumbotron.pagination-centered(style="padding: 10px; margin-bottom: 20px;")
  .carousel.slide#whatIsCarousel(data-ride="carousel" data-interval="false" style="background-color: white;")
    -#.carousel-inner(style="align: center;")
    .carousel-inner
      .item.active
        %img(src="landingPage/useCaseOverview.png" alt="Use case overview")
      .item
        %img(src="landingPage/employeeShiftRosteringUseCase.png" alt="Employee shift rostering use case")
      .item
        %img(src="landingPage/examinationTimetablingUseCase.png" alt="Exam timetabling use case")
      .item
        %img(src="landingPage/inputOutputOverview.png" alt="Usage")
      .item
        %img(src="landingPage/integrationOverview.png" alt="Integration")
      .item
        %img(src="landingPage/compatibility.png" alt="Compatibility")
      .item
        %img(src="landingPage/scalable.png" alt="Scalability")
    %a.left.carousel-control(href="#whatIsCarousel" data-slide="prev")
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control(href="#whatIsCarousel" data-slide="next")
      %span.glyphicon.glyphicon-chevron-right
  %ul.nav.nav-justified#whatIsCarouselButtons
    %li.active(data-target="#whatIsCarousel" data-slide-to="0")
      %a(href="#" data-toggle="tab") Use cases
    %li(data-target="#whatIsCarousel" data-slide-to="1")
      %a(href="#" data-toggle="tab") Employee rostering
    %li(data-target="#whatIsCarousel" data-slide-to="2")
      %a(href="#" data-toggle="tab") Exam timetabling
    %li(data-target="#whatIsCarousel" data-slide-to="3")
      %a(href="#" data-toggle="tab") Usage
    %li(data-target="#whatIsCarousel" data-slide-to="4")
      %a(href="#" data-toggle="tab") Integration
    %li(data-target="#whatIsCarousel" data-slide-to="5")
      %a(href="#" data-toggle="tab") Compatibility
    %li(data-target="#whatIsCarousel" data-slide-to="6")
      %a(href="#" data-toggle="tab") Scalability

%div(style="margin-bottom: 20px")
  :markdown
    ## What is Drools?

    **Drools** is a flexible Business Process Management (BPM) Suite. It makes the bridge between business analysts and developers. Traditional BPM engines have a focus that is limited to non-technical people only. jBPM has a dual focus: it offers process management features in a way that both business users and developers like it.

.alert.alert-info.alert-dismissable
  %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
  #{site.pom.latest.releaseDate}:
  %a.alert-link(href="download/releaseNotes/releaseNotes#{site.pom.latest.releaseNotesVersion}.html") #{site.pom.latest.version} has been released.

.row
  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-success(href="#{site.pom.latestFinal.distributionZip}")<
          %img(src = "download/download.png")
          Download #{site.pom.latestFinal.version}
      %h3 Try the examples now
      %ol
        %li Download the zip and unzip it
        %li
          On Linux/Mac, run
          %code examples/runExamples.sh
          %br
          On Windows, run
          %code examples/runExamples.bat
      .small
        Requires
        %a(href="http://www.java.com")< Java™
        to run.

  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.documentationHtmlSingle}")<
          %img(src = "learn/documentation.png")
          Read documentation #{site.pom.latestFinal.version}
      %h3 Get started
      %ol
        %li Open the documentation
        %li
          Read the
          %strong Quick Start
          chapter

.panel.panel-default
  .panel-heading Latest blog posts
  .panel-body
    %ul.list-unstyled
      - for post in site.posts[0,7]
        %li(style = "margin-top: 10px;")
          .title
            %a{:href => relative(post.url)}
              = post.title
          .small
            = post.date.strftime('%-d %B %Y')
