---
title: Drools - Business Rules Management System (Java™, Open Source)
layout: base
---
.jumbotron.pagination-centered(style="padding: 10px; margin-bottom: 20px;")
  %ul.nav.nav-justified.frontPageCarouselButtons#whatIsCarouselButtons
    %li.active(data-target="#whatIsCarousel" data-slide-to="0")
      %a(href="#" data-toggle="tab") Data Modeller
    %li(data-target="#whatIsCarousel" data-slide-to="1")
      %a(href="#" data-toggle="tab") Conditions
    %li(data-target="#whatIsCarousel" data-slide-to="2")
      %a(href="#" data-toggle="tab") Actions
    %li(data-target="#whatIsCarousel" data-slide-to="3")
      %a(href="#" data-toggle="tab") Rules
    %li(data-target="#whatIsCarousel" data-slide-to="4")
      %a(href="#" data-toggle="tab") Visualization
  .carousel.slide.frontPageCarousel#whatIsCarousel(data-ride="carousel" data-interval="false" style="background-color: white;")
    -#.carousel-inner(style="align: center;")
    .carousel-inner
      .item.active
        %img(src="landingPage/Data_Modeller.png" alt="Data Modeller" width="800" height="600")
      .item
        %img(src="landingPage/Conditions.png" alt="Conditions" width="800" height="600")
      .item
        %img(src="landingPage/Actions.png" alt="Actions" width="800" height="600")
      .item
        %img(src="landingPage/Rules.png" alt="Rules" width="800" height="600")
      .item
        %img(src="landingPage/Visualization.png" alt="Visualization" width="800" height="600")
    %a.left.carousel-control(href="#whatIsCarousel" data-slide="prev")
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control(href="#whatIsCarousel" data-slide="next")
      %span.glyphicon.glyphicon-chevron-right

.row
  .col-md-8(style="margin-top: -17px;margin-bottom: 20px")
    :markdown
      ## Overview

      Drools is a Business Rules Management System (BRMS) solution. It provides a core Business Rules Engine (BRE), a web authoring and rules management application (Drools Workbench), full runtime support for Decision Model and Notation (DMN) models at Conformance level 3 and an Eclipse IDE plugin for core development.

      More information can be found on the following links:

    %ul
      %li
        %img(src = "headerFooter/guvnor_icon_32x.png")
          -#%a(href="http://drools.jboss.org/drools-guvnor.html")
          Drools Workbench (web UI for authoring and management)
      %li
        %img(src = "headerFooter/expert_icon_32x.png")
          -#%a(href="http://drools.jboss.org/drools-expert.html")
          Drools Expert (business rules engine)
      %li
        %img(src = "headerFooter/fusion_icon_32x.png")
          -#%a(href="http://drools.jboss.org/drools-fusion.html")
          Drools Fusion (complex event processing features)
      %li
        %img(src = "headerFooter/flow_icon_32x.png")
          %a(href="https://www.jbpm.org") jBPM (process/workflow integration for rule orchestration/flow)
      %li
        %img(src = "headerFooter/planner_icon_32px.png")
          %a(href="https://www.optaplanner.org/") OptaPlanner (automated planning)


    These projects have community releases from JBoss.org that come without support. Community releases focus on fast paced innovation to give you the latest and greatest, with releases every few months that include both features and fixes. Red Hat JBoss BRMS is our enterprise product for mission critical releases, with a multi year commitment for backport of fixes, based off a sanitised community release of Drools. A range of support packages are available including up to mission critical 24/7, as well as training and consultancy via our Global Professional Services unit.
    Check
    %a(href="https://www.redhat.com/en/technologies/jboss-middleware/process-automation-manager")Red Hat Process Automation Manager
    for more details.

  .col-md-4
    %div(style="margin-top: 10px;")
      = partial('events.html.haml', :outputPage => page)


.alert.alert-info.alert-dismissable
  %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;

  / #{site.pom.latestFinal.releaseDate}:
  / %a.alert-link(href="#{site.pom.latest.droolsReleaseNotes}")Drools #{site.pom.latest.version} has been released.

  #{site.pom.latestFinal.releaseDate}:
  %a.alert-link(href="#{site.pom.latestFinal.droolsReleaseNotes}")Drools #{site.pom.latestFinal.version} has been released.

.row
  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-success(href="#{site.pom.latestFinal.droolsZip}")<
          %img(src = "download/download.png")
          Download Drools #{site.pom.latestFinal.version}
      %h3 Try the examples now
      %ol
        %li Download the zip and unzip it
        %li
          On Linux/Mac, run
          %code examples/runExamples.sh
          %br
          On Windows, run
          %code examples/runExamples.bat
      .small
        Requires
        %a(href="http://www.java.com")< Java™
        to run.

      %h3
        Are you using 
        %a(href="http://www.docker.com/")Docker
        ?
      %span Try our Docker images and run Drools in just seconds
      %ul
        %li
          %a(href="http://registry.hub.docker.com/u/jboss/business-central-workbench/")Business Central Workbench
        %li
          %a(href="http://registry.hub.docker.com/u/jboss/business-central-workbench-showcase/")Business Central Workbench Showcase
        %li
          %a(href="http://registry.hub.docker.com/u/jboss/kie-server/")KIE Execution Server
        %li
          %a(href="http://registry.hub.docker.com/u/jboss/kie-server-showcase/")KIE Execution Server Showcase
      .small
        More info at 
        %a(href="http://blog.athico.com/2015/06/drools-jbpm-get-dockerized.html")this post
  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.documentationHtmlSingle}")<
          %img(src = "learn/documentation.png")
          Read documentation #{site.pom.latestFinal.version}
      %h3 Get started
      %ol
        %li Open the documentation
        %li
          Read the
          %strong Quick Start
          chapter
.row
  .col-md-8(style="margin-top: -17px;margin-bottom: 20px")
    :markdown
      ## Special thanks to:
.row
  .col-md-6(style="padding: 10px; margin-top: 20px")
    .text-center<
      %a(href="http://www.oxygenxml.com" )<
        %img(src = "headerFooter/oxygen.png")
  .col-md-6(style="padding: 10px; margin-top: 20px")
    .text-center<
      %a(href="http://www.ej-technologies.com/products/jprofiler/overview.html" )<
        %img(src = "headerFooter/jprofiler-logo.png")
