---
title: Drools - Business Rules Management System (Java™, Open Source)
layout: base
---
.jumbotron.pagination-centered(style="padding: 10px; margin-bottom: 20px;")
  .carousel.slide#whatIsCarousel(data-ride="carousel" data-interval="false" style="background-color: white;")
    -#.carousel-inner(style="align: center;")
    .carousel-inner
      .item.active#links
        %a(href="landingPage/Build_Running_Big.png" title="Build Running" data-gallery="")
          %img(src="landingPage/Build_Running.png" title="Build Running")
      .item
        %a(href="landingPage/Data_Modeller_Big.png" titlet="Data Modeller" data-gallery="")
          %img(src="landingPage/Data_Modeller.png" title="Data Modeller")
      .item
        %a(href="landingPage/Decision_Table_Big.png" title="Decision Table" data-gallery="")
          %img(src="landingPage/Decision_Table.png" title="Decision Table")
      .item
        %a(href="landingPage/Guided_Rule_Editor_Big.png" title="Guided Rule Editor" data-gallery="")
          %img(src="landingPage/Guided_Rule_Editor.png" title="Guided Rule Editor")
      .item
        %a(href="landingPage/Test_Running_Big.png" title="Test Running" data-gallery="")
          %img(src="landingPage/Test_Running.png" title="Test Running")
    %a.left.carousel-control(href="#whatIsCarousel" data-slide="prev")
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control(href="#whatIsCarousel" data-slide="next")
      %span.glyphicon.glyphicon-chevron-right
  %ul.nav.nav-justified#whatIsCarouselButtons
    %li.active(data-target="#whatIsCarousel" data-slide-to="0")
      %a(href="#" data-toggle="tab") Build Running
    %li(data-target="#whatIsCarousel" data-slide-to="1")
      %a(href="#" data-toggle="tab") Data Modeller
    %li(data-target="#whatIsCarousel" data-slide-to="2")
      %a(href="#" data-toggle="tab") Decision Table
    %li(data-target="#whatIsCarousel" data-slide-to="3")
      %a(href="#" data-toggle="tab") Guided Rule Editor
    %li(data-target="#whatIsCarousel" data-slide-to="4")
      %a(href="#" data-toggle="tab") Test Running
  %div.TextZoom"Click on the image to zoom in"
  #blueimp-gallery.blueimp-gallery
    .slides
    %a.prev‹
    %a.next›
    %a.close×
    %a.play-pause
    %ol.indicator
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button(type="button" class="close" aria-hidden="true")
            %h4.modal-title"

%div(style="margin-bottom: 20px")
  :markdown
    ## Overview

    Drools is a Business Rules Management System (BRMS) solution. It provides a core Business Rules Engine (BRE), a web authoring and rules management application (Drools Workbench) and an Eclipse IDE plugin for core development.

    More information can be found on the following links:

  %ul
    %li
      %img(src = "headerFooter/guvnor_icon_32x.png")
        %a(href="http://drools.jboss.org/drools-guvnor.html") Drools Workbench (web UI for authoring and management)
    %li
      %img(src = "headerFooter/expert_icon_32x.png")
        %a(href="http://drools.jboss.org/drools-expert.html") Drools Expert (business rules engine)
    %li
      %img(src = "headerFooter/fusion_icon_32x.png")
        %a(href="http://drools.jboss.org/drools-fusion.html") Drools Fusion (complex event processing features)
    %li
      %img(src = "headerFooter/flow_icon_32x.png")
        %a(href="http://www.jboss.org/jbpm") jBPM (process/workflow integration for rule orchestration/flow)
    %li
      %img(src = "headerFooter/planner_icon_32px.png")
        %a(href="http://www.optaplanner.org/") OptaPlanner (automated planning)

    
  These projects have community releases from JBoss.org that come without support. Community releases focus on fast paced innovation to give you the latest and greatest, with releases every few months that include both features and fixes. Red Hat JBoss BRMS is our enterprise product for mission critical releases, with a multi year commitment for backport of fixes, based off a sanitised community release of Drools. A range of support packages are available including up to mission critical 24/7, as well as training and consultancy via our Global Professional Services unit. Email sales@jboss.com for more details.

  :markdown
    ## Upcoming events

    TBA


.alert.alert-info.alert-dismissable
  %button.close(type="button" data-dismiss="alert" aria-hidden="true") &times;
  #{site.pom.latest.releaseDate}:
  %a.alert-link(href="download/releaseNotes/releaseNotes#{site.pom.latest.releaseNotesVersion}.html")Drools #{site.pom.latest.version} has been released.

.row
  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-success(href="#{site.pom.latestFinal.distributionZip}")<
          %img(src = "download/download.png")
          Download Drools #{site.pom.latestFinal.version}
      %h3 Try the examples now
      %ol
        %li Download the zip and unzip it
        %li
          On Linux/Mac, run
          %code examples/runExamples.sh
          %br
          On Windows, run
          %code examples/runExamples.bat
      .small
        Requires
        %a(href="http://www.java.com")< Java™
        to run.

  .col-md-6
    .jumbotron(style="padding: 10px; margin-bottom: 20px;")
      .text-center<
        %a.btn.btn-lg.btn-primary(href="#{site.pom.latestFinal.documentationHtmlSingle}")<
          %img(src = "learn/documentation.png")
          Read documentation #{site.pom.latestFinal.version}
      %h3 Get started
      %ol
        %li Open the documentation
        %li
          Read the
          %strong Quick Start
          chapter

.panel.panel-default
  .panel-heading Latest blog posts
  .panel-body
    %ul.list-unstyled
      - for post in site.posts[0,7]
        %li(style = "margin-top: 10px;")
          .title
            %a{:href => relative(post.url)}
              = post.title
          .small
            = post.date.strftime('%-d %B %Y')