---
layout: base
title: Team
---

-# To add your name on this page, also add your yourself in /_config/users.yml

%h1 #{page.title}
%p
  As an open soure project, much of our code has been initiated, created or improved by the community. We want to thank all our contributors and the open source community at large. Red Hat, as a company, is the catalyst in this communities of customers, contributors, and partners creating better technology the open source way.
%p
  For many open source contributors recognition is a key driving factor. We encourage all contributors (active and inactive) to contact us (on the mailing list or privately) if you want your details changed or added. Beyond title headers this list is in no particular order.

%h2 Red Hat R&D core team
%p
  The Red Hat R&D core team is employed full-time by Red Hat to work exclusively on this project.

= partial('userBadge.html.haml', :outputPage => page, :userId => 'mdproctor', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'kverlaenen', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'etirelli', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'ge0ffrey', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'trikkola', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'tsurdilovic', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'mariofusco', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'michaelanstis', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'mauriciosalatino', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'porcelli', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'jlindop', :mode => 'long')
= partial('userBadge.html.haml', :outputPage => page, :userId => 'ederign', :mode => 'long')



%h2 Contributors
%p
  Thanks to all our contributors:

= partial('contributors.html.haml')  
  
  
  
%h2 Red Hat product teams
%p
  A special thanks to our internal Red Hat teams:
  %ul
    %li The productization team
    %li The QA team
    %li The sales and support teams
